
{#<!DOCTYPE html>#}
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Learnify | Student Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/adminnew/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/adminnew/assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="../static/adminnew/assets/css/animated.css">
    <link rel="stylesheet" href="../static/adminnew/assets/css/owl.css">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <!-- <img src="../static/adminnew/assets/images/logo.png" alt="Chain App Dev"> -->
               <h1 id="learnify-heading">Learnify</h1>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#about">About</a></li>
              <li class="scroll-to-section"><a href="#pricing">Courses</a></li>
              <li class="scroll-to-section"><a href="/student_profile">Profile</a></li>
              <li><div class="gradient-button"><a id="modal_trigger" href="/logout"><i class="fa fa-sign-in-alt"></i>Logout</a></div></li>
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  
  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>

    <section class="popupBody">
        <!-- Social Login -->
        <div class="social_login">
            <div class="">
                <a href="#" class="social_box fb">
                    <span class="icon"><i class="fab fa-facebook"></i></span>
                    <span class="icon_title">Connect with Facebook</span>

                </a>

                <a href="#" class="social_box google">
                    <span class="icon"><i class="fab fa-google-plus"></i></span>
                    <span class="icon_title">Connect with Google</span>
                </a>
            </div>

            <div class="centeredText">
                <span>Or use your Email address</span>
            </div>

            <div class="action_btns">
                <div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
                <div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
            </div>
        </div>

        <!-- Username & Password Login form -->
        <div class="user_login">
            <form>
                <label>Email / Username</label>
                <input type="text" />
                <br />

                <label>Password</label>
                <input type="password" />
                <br />

                <div class="checkbox">
                    <input id="remember" type="checkbox" />
                    <label for="remember">Remember me on this computer</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><a href="#" class="btn btn_red">Login</a></div>
                </div>
            </form>

            <a href="#" class="forgot_password">Forgot password?</a>
        </div>

        <!-- Register Form -->
        <div class="user_register">
            <form>
                <label>Full Name</label>
                <input type="text" />
                <br />

                <label>Email Address</label>
                <input type="email" />
                <br />

                <label>Password</label>
                <input type="password" />
                <br />

                <div class="checkbox">
                    <input id="send_updates" type="checkbox" />
                    <label for="send_updates">Send me occasional email updates</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>
                </div>
            </form>
        </div>
    </section>
</div>

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2 id="Personalized_learning" style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif;">Future Of Personalized Learning !</h2>
                    <p style="font-family: cursive;">Learnify is an online space where learners, instructors, and administrators interact to facilitate digital education and skill-building. Typically designed to enhance accessibility and flexibility in learning, these platforms host a variety of courses across different subjects—ranging from academic subjects to professional skills and personal development!</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <a href="#contact">Go to Appstore <i class="fab fa-apple"></i></a>
                    </div>
                    <div class="white-button scroll-to-section">
                      <a href="#contact">Go to Playstore <i class="fab fa-google-play"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="../static/adminnew/assets/images/slider-dec.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>What Is <em>  Our</em> Specialities</h4>
            <img src="../static/adminnew/assets/images/heading-line-dec.png" alt="">
            <p>If you’re looking for the best selection of online courses to advance your career or expand your knowledge, our e-learning platform has everything you need. From tech skills to personal development, we provide top-quality courses taught by expert instructors.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Personalized Learning Experience</h4>
            <p> Learnify is tailors course recommendations and learning paths based on your interests, skill level, and goals. This approach ensures you get the most relevant and impactful content, allowing you to learn at your own pace and focus on the areas that matter most to you.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Accessible Anytime, Anywhere</h4>
            <p>With the Learnify platform, access your courses and materials from any device at any time. Whether you’re at home, on the go, or in a café, our flexible and convenient learning options allow you to seamlessly integrate education into your busy lifestyle.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Community & Collaboration</h4>
            <p>At Learnify, we foster a vibrant community where learners can connect, share insights, and collaborate on projects. Engage in discussion forums, participate in group activities, and build meaningful relationships with fellow students and instructors, enriching your learning!</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>24/7 Help &amp; Support</h4>
            <p>At Learnify, we provide 24/7 support to assist you at any time. Whether you have questions about courses or technical issues, our dedicated team is always ready to help, ensuring a seamless learning experience and making your education journey as smooth as possible.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>About <em>What We Do</em> &amp; Who We Are</h4>
            <img src="../static/adminnew/assets/images/heading-line-dec.png" alt="">
            <p>At Learnify, we are dedicated to transforming education through innovative online learning experiences. Our platform offers a diverse range of courses led by industry experts, empowering learners to acquire new skills and knowledge at their own pace, anytime and anywhere.</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Expert-Led Courses</a></h4>
                <p>Experts are waiting</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Interactive Video Lessons</a></h4>
                <p>Let's Talk</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Seamless User Experience</a></h4>
                <p>Seamless</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Dedicated Support System</a></h4>
                <p>Supports are availablet</p>
              </div>
            </div>
            <div class="col-lg-12">
              <p>At Learnify, we are dedicated to transforming education through expert-led courses and innovative online learning experiences. Our platform provides personalized learning paths, allowing you to access high-quality content tailored to your interests and skill level. With a vibrant community for collaboration and 24/7 support, you can learn flexibly from any device, anytime, and seamlessly integrate education into your busy lifestyle. Whether you're looking to advance your career or acquire new skills, Learnify empowers you to achieve your goals at your own pace..</p>
              <div class="gradient-button">
                <a href="#">Talk with our Experts</a>
              </div>
              <span>24 / 7</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="../static/adminnew/assets/images/about-right-dec.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="clients" class="the-clients">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Check What <em>Our Students Say</em> About Courses</h4>
            <img src="../static/adminnew/assets/images/heading-line-dec.png" alt="">
            <p>We proudly acknowledge our Learnify alumni, who have demonstrated exceptional commitment to their education and professional growth. Their achievements inspire future learners and reflect the quality of our platform. We celebrate their success and continue to support them as they advance in their careers.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-7 align-self-center">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4> Fazil FiroZ</h4>
                            <span class="date">31 May 2024</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Financial Apps</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.8</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Josephine</h4>
                            <span class="date">24 October 2024</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Digital Business</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.9</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Shyam Kumar</h4>
                            <span class="date">01 January 2024</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Business &amp; Economics</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.7</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Naveen k</h4>
                            <span class="date">20 February 2024</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">New App Ecosystem</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">3.9</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="last-thumb">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Razil</h4>
                            <span class="date">21 August 2024</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Web Development</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.3</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-lg-5">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="../static/adminnew/assets/images/quote.png" alt="">
                              <p>"My journey has been a blend of learning, laughter, and a fair share of challenges. Pursuing an MCA has been a dream come true, filled with endless possibilities and new ideas. Each course has pushed me to think bigger and work harder, fueling my passion for technology. I’ve made great friends, learned resilience, and found joy in every step, even during tough times. I’m always eager to share a laugh and keep things light, even when things get intense. This journey has taught me to balance ambition with humor, and I’m grateful for every moment that’s shaped me."</p>
                              </div>
                              <div class="down-content">
                                <img src="../static/adminnew/assets/images/f.png" alt="">
                                <div class="right-content">
                                  <h4>Fazil Firoz</h4>
                                  <span>MCA Student</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="../static/adminnew/assets/images/quote.png" alt="">
                                <p>
                                  "The past years have been incredible, filled with hard work, learning, and amazing friendships. I’ve faced each challenge head-on, knowing that every step brings me closer to my goals. The support from friends and mentors has made the journey unforgettable, and I'm grateful for the laughs and late-night study sessions that kept us going. My time here has taught me resilience, teamwork, and the power of positivity. I’m excited for what lies ahead, knowing that each experience has helped shape who I am today. Looking back, I wouldn’t change a thing – it's been an amazing adventure!"
                                </p>
                              </div>
                              <div class="down-content">
                                <img src="../static/adminnew/assets/images/tt.jpg" alt="">
                                <div class="right-content">
                                  <h4>Josephine Langford</h4>
                                  <span>Mathematics</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="../static/adminnew/assets/images/quote.png" alt="">
                                <p>“The past years have been incredible, filled with hard work, learning, and amazing friendships. I’ve faced each challenge head-on, knowing that every step brings me closer to my goals. The support from friends and mentors has made the journey unforgettable, and I'm grateful for the laughs and late-night study sessions that kept us going. My time here has taught me resilience, teamwork, and the power of positivity. I’m excited for what lies ahead, knowing that each experience has helped shape who I am today. Looking back, I wouldn’t change a thing – it's been an amazing adventure!”</p>
                              </div>
                              <div class="down-content">
                                <img src="../static/adminnew/assets/images/t1.jpg" alt="">
                                <div class="right-content">
                                  <h4>Shyamkumar</h4>
                                  <span>M.com</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="../static/adminnew/assets/images/t2.jpg" alt="">
                                <p>“My journey has been a blend of learning, laughter, and a fair share of challenges. Pursuing an MCA has been a dream come true, filled with endless possibilities and new ideas. Each course has pushed me to think bigger and work harder, fueling my passion for technology. I’ve made great friends, learned resilience, and found joy in every step, even during tough times. I’m always eager to share a laugh and keep things light, even when things get intense. This journey has taught me to balance ambition with humor, and I’m grateful for every moment that’s shaped me.”</p>
                              </div>
                              <div class="down-content">
                                <img src="../static/adminnew/assets/images/t2.jpg" alt="">
                                <div class="right-content">
                                  <h4>Naveen K</h4>
                                  <span>Manager, Reg Technologies</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="../static/adminnew/assets/images/quote.png" alt="">
                                <p>“My journey has been a blend of learning, laughter, and a fair share of challenges. Pursuing an MCA has been a dream come true, filled with endless possibilities and new ideas. Each course has pushed me to think bigger and work harder, fueling my passion for technology. I’ve made great friends, learned resilience, and found joy in every step, even during tough times. I’m always eager to share a laugh and keep things light, even when things get intense. This journey has taught me to balance ambition with humor, and I’m grateful for every moment that’s shaped me.”</p>
                              </div>
                              <div class="down-content">
                                <img src="../static/adminnew/assets/images/t3.jpg" alt="">
                                <div class="right-content">
                                  <h4>Razil</h4>
                                  <span>CTO, Do Company</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>We Have The Best <em>Courses</em> You Can Get</h4>
            <img src="../static/adminnew/assets/images/heading-line-dec.png" alt="">
            <p>At Learnify, we offer a diverse range of courses designed to empower learners of all backgrounds. From tech skills like programming and web development to creative subjects such as graphic design and digital marketing, there’s something for everyone! Each course is crafted by industry experts, ensuring you receive the most relevant and up-to-date content. Our engaging format includes interactive video lessons, quizzes, Learnify provides the tools and support to help you succeed on your educational journey!</p>
          </div>
        </div>
          {% for i in courses %}
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">₹ {{ i.price }}</span>
            <h4>{{ i.name }}</h4>
            <div>
              <img src="{{ i.thumbnail.url }}" alt="">
            </div>
            <ul>
              <li>{{ i.description }}</li>

            </ul>
            <div class="border-button">
              <a href="/student_view_more_course_details/{{ i.id }}">View Course</a>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
  </div> 

  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Join our mailing list to receive the new  Course updates</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Subscribe Now <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>Mohammed Fazil Firoz E</p>
            <p><a href="#">9048634881</a></p>
            <p><a href="#">firozeyy@gmail.com</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Courses</a></li>
            </ul>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Testimonials</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Free Apps</a></li>
              <li><a href="#">App Engine</a></li>
              <li><a href="#">Programming</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">App News</a></li>
            </ul>
            <ul>
              <li><a href="#">App Dev Team</a></li>
              <li><a href="#">Digital Web</a></li>
              <li><a href="#">Normal Apps</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Our Company</h4>
            <div class="logo">
              <!-- <img src="../static/adminnew/assets/images/white-logo.png" alt=""> -->
            </div>
            <p>Learnify is an innovative e-learning platform dedicated to transforming the way people learn. We believe that education should be accessible, engaging, and tailored to individual needs. Our platform offers a wide range of courses across various fields, taught by industry experts who are passionate about sharing their knowledge. With features like personalized learning paths, interactive  </p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2024 @ Fazil Firoz All Rights Reserved. 
          <br>Design: <a href="https://templatemo.com/" target="_blank" title="css templates">Template Copy Adichathanu</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="../static/adminnew/vendor/jquery/jquery.min.js"></script>
  <script src="../static/adminnew/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/adminnew/assets/js/owl-carousel.js"></script>
  <script src="../static/adminnew/assets/js/animation.js"></script>
  <script src="../static/adminnew/assets/js/imagesloaded.js"></script>
  <script src="../static/adminnew/assets/js/popup.js"></script>
  <script src="../static/adminnew/assets/js/custom.js"></script>


  <style>
    #learnify-heading{
        font-family: 'Poppins', sans-serif; /* Use a beautiful font */
        font-size: 2.5rem; /* Adjust size */
        font-weight: 900; /* Make it bold */
        color: #4e89ae; /* Primary color */
        background: linear-gradient(45deg, #1f6e9f, #43658b, #ed6663); /* Gradient text color */
        -webkit-background-clip: text;
        color: transparent;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
        padding: 0.5rem 1rem; /* Add padding for spacing */
        letter-spacing: 3px; /* Space letters slightly */
        transition: all 0.3s ease-in-out; /* Smooth transition effect */
        display: inline-block;
        text-align: center;
        padding-top: 25px;
      }

      h1:hover {
        transform: scale(1.05); /* Slight zoom effect on hover */
        color: #ed6663; /* Change color on hover */
        text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
      }

</style>
</body>
</html>